ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #424530;
}

li {
  float: right;
}

li a {
  display: block;
  color: #ffefcd;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #a58e74;
}

div.logo {
  float: left;
  width: 19%;
  height: 45px;
  background-color: #424530;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.logo img{
  width: 40px;
  height: 40px;
  padding-right: 10px;
}

div.logo a {
  color: #e09132;
  font-size: 24px;
  text-decoration: none;
  font-weight: bold;
}

div.logo:hover {
  background-color: #424530;
}

.active {
  background-color: #e09132;
}

div:hover {
  background-color: #ffefcd;
}

li a,
.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;

  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.services-dropdown {
  height: 210px;
}

.dropdown-content a {
  color: #424530;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.main {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  gap: 10px;
  padding: 10px;
  width: 100%;
}

.part {
  background-color: #ffefcd;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  height: 500px;
  width: 100%;
  border: 2px solid white;
}

.part.web-design{
  height: 750px;
}

.part h2 {
  margin: 0;
  color: #424530;
}

.part button{
  padding: 12px 16px;
  margin-top: 50px;
  color: #424530;
  background-color: #a58e74;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}


.recentworks {
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Distribute space evenly between images */
}

.recentworks img {
  width: 32%; /* Each image takes up 32% of the container width */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  margin: 0 1%; /* Small margin to separate the images */
}

.our-service {
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Distribute space evenly between images */
}

.our-service .left {
  width: 32%;
}

.our-service .left h1{
  color:#e09132;
  padding-top: 40px;
}

.our-service .right {
  width: 68%;
  text-align: left;
  padding-left: 30%;
  padding-top: 10px;
}

.our-service .right h2{
  color:#e09132;
  text-align: left;
  padding-top: 40px;
}

.case-study {
  display: grid; /* Use grid layout */
  grid-template-columns: 1fr 1fr; /* Two columns of equal width */
  grid-gap: 10px; /* Gap between the images */
}

.case-study img {
  width: 100%; /* Make images take up the full width of their grid cell */
  height: 350px; /* Set the fixed height */
}


.part.content {
  color:#e09132;
  text-align: left;
  height: 200px;
}

.part.textbox{
  height: 300px;
}

.part.textbox h1{
  color: #e09132;
}

.part.textbox p{
  color:#424530;
  font-size: 20px;
  text-align: left;
}

.part.programming{
  height: 900px;
}

.part.programming .titles{
  height: 200px;
  font-size: 20px;
  color: #e09132;
  border-bottom: 2px solid #e09132;
  padding: 5px 0;
  width: 100%;
}

.part.programming .titles p{
  font-size: 25px;
  text-align: left;
}

.part.projects{
  height: 400px;
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Distribute space evenly between images */
}

.part.projects .left{
  width: 50%;
  border-right: 2px solid white;
}

.part.projects .left img{
  height: 350px;
}

.part.projects .right{
  width: 50%;
  text-align: left;
  padding-left: 2%;
}

.part.projects .right p{
  font-size: 25px;
  color: #424530;
}

